<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mr Mechanic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA8C9EF91BC59F3D00A81384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8C9F0D1BC59F3D00A81384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA8C9F181BC59F3D00A81384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
